.custom-switch {
  &.MuiSwitch-root {
    .MuiSwitch-switchBase {
      color: darkslategrey;

      &.Mui-checked {
        color: darkslategrey;
      }

      &.MuiSwitch-track {
        background-color: lightgray;
      }
    }

  }

  &.MuiSwitch-track {
    background-color: darkgrey;
  }
}